// nav
.nav-container {
  position: absolute;
  padding: 4rem;
  top: 0;
  left: 0;
  .nav-icon {
    background-color: #000;
    position: absolute;
    right: 4rem;
    top: 2.5rem;
    z-index: 10;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .bar1,
    .bar2,
    .bar3 {
      width: 20px;
      height: 2px;
      margin: 4px 0;
      transition: 0.4s;
      background-color: $white;
      border-radius: 1rem;
    }
    .bar2 {
      width: 30px;
      transform-origin: right;
    }
  }

  .nav-main {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    .box-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      display: flex;
      .box {
        background-color: $primary-color;
        width: calc(100vw / 4);
        height: 0vh;
      }
    }
    .mobile-logo {
      position: absolute;
      top: 4rem;
      left: 4rem;
      z-index: 2;
      filter: brightness(1%);
      opacity: 0;
    }
    &__content {
      opacity: 0;
      visibility: hidden;
      width: 95vw;
      position: absolute;
      top: 24vh;
      left: 4rem;
      z-index: 2;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
      column-gap: 12rem;
      padding: 4rem 7rem;
      color: $black;

      &--box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 33rem;
        .social-links {
          display: flex;
          flex-direction: column;
          &--box {
            display: flex;
            align-items: center;
            img {
              margin-right: 2rem;
              height: 1.7rem;
              filter: brightness(1%);
            }
          }
          &--box:nth-child(2) {
            margin-top: 1rem;
          }
        }
        .resume {
          font-size: 5rem;
          text-decoration: none;
          color: $black;
          font-family: $tertiary-font;
          letter-spacing: -2px;
          align-self: flex-start;

          img {
            bottom: 0.4rem;
          }

          &:hover img {
            transform: translateY(0.6rem);
          }
        }
        .list {
          justify-self: flex-start;
          &__item {
            list-style: none;

            &:not(:last-child) {
              margin-bottom: 3rem;
            }
            a {
              text-transform: uppercase;
              color: $black;
              font-size: 5.5rem;
              text-decoration: none;
              font-family: $tertiary-font;
              letter-spacing: -1px;
              font-weight: 700;
              transition: color 0.2s ease-out;
              display: flex;
              align-items: baseline;
              width: min-content;

              img {
                height: 2.3rem;
                width: auto;
                position: relative;
                margin-left: 2rem;
                transition: transform 0.2s ease-in-out;
              }

              &:not(.resume) img {
                top: 0.2rem;
              }

              &:hover {
                color: white;
              }

              &:hover:not(.resume) img {
                transform: translate(5px, -5px);
              }
            }
          }
        }

        .social-links__wrapper {
          padding-bottom: 1.5rem;

          h4 {
            margin-bottom: 4.5rem;
          }

          img {
            height: 3rem;
            transition: filter 0.2s ease-in-out;

            &:hover {
              filter: invert(1);
            }
          }
        }

        @media only screen and (max-width: 600px) {
          min-height: 21rem;

          &:last-child {
            margin-top: 2rem;
            flex-direction: column-reverse;

            h4 {
              margin-bottom: 2rem;
            }
          }

          &:not(:last-child) {
            margin-bottom: 5rem;
          }

          .list__item {
            &:not(:last-child) {
              margin-bottom: 2rem;
            }

            img {
              display: none;
            }

            a {
              font-size: 3rem;
            }
          }
        }
      }

      @media only screen and (max-width: 600px) {
        top: 15rem;
        left: 0;
      }
    }
  }

  .nav-sub {
    position: absolute;
  }
}

.header {
  position: relative;
  overflow: hidden;
  min-height: 80rem;
  @media only screen and (max-width: 37.5em) {
    // phone
    min-height: 70rem;
  }
  &:after {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background: url('../img/svg/home-bg.svg') 100% 0 no-repeat;
  }

  @media only screen and (max-width: 56.25em) {
    // tab-land
    &:after {
      transform: rotate(90deg);
      background-position: 50% 0%;
      left: 0;
      bottom: 0;
    }
  }
  .hero {
    position: absolute;
    top: 53.5%;
    left: 10%;
    transform: translateY(-70%);
    @media only screen and (max-width: 56.25em) {
      // tab-land
      top: 55%;
    }
  }
}

// text video
.text-container {
  width: 25rem;
  position: relative;
  overflow: hidden;
  height: 8rem;
  margin-left: -2rem;

  video {
    position: absolute;
    top: 0;
    width: 24rem;
    height: 8rem;
  }

  svg {
    position: absolute;
    top: 0.5rem;
  }

  span {
    font-size: 6rem;
    color: rgba(255, 255, 255, 0);
    text-transform: lowercase;
    font-family: $secondary-font;
    position: absolute;
    left: 1.5rem;
  }
}

// animation
.nav-anim .bar1 {
  transform: rotate(-45deg) translate(-6px, 7px);
}

.nav-anim .bar2 {
  transform: translateX(200%);
  opacity: 0;
}

.nav-anim .bar3 {
  transform: rotate(45deg) translate(-7px, -8px);
}
