.work {
  grid-column: 2/14;
  padding: 6rem;

  &-box__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 4rem;
    color: $black;
    margin-top: 6rem;
  }

  &-box {
    padding: 2rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    &:hover {
      border: solid 2px $white;
      color: $white;
    }
  }

  .work-box {
    &:nth-child(1) {
      background: linear-gradient(150deg, #b1e5f9, #f4d2fe);
    }

    &:nth-child(2) {
      background: linear-gradient(180deg, #bcbdff 0%, #4e4e86 100%);
    }

    &:nth-child(3) {
      background: linear-gradient(180deg, #9be7ff 0%, #4582e4 100%);
    }

    &:nth-child(4) {
      background: linear-gradient(75deg, #f3cbab, #feedca);
    }

    &:nth-child(5) {
      background: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
    }

    &:nth-child(6) {
      background: linear-gradient(to bottom, #efa971, #e4cafe);
    }

    &:nth-child(7) {
      background: linear-gradient(to right, #f3cbab, #feedca);
    }
  }

  &-box__date {
    align-self: flex-end;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  &-box__content {
    align-self: flex-start;
  }
}

// hover state
.work-box:nth-child(1),
.work-box:nth-child(2),
.work-box:nth-child(3),
.work-box:nth-child(4),
.work-box:nth-child(5),
.work-box:nth-child(6) {
  background: linear-gradient(to bottom, #f3cbab, #feedca);
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    transition: top 80ms ease 70ms, right 50ms ease 70ms;
    z-index: -1;
  }
  &:hover {
    background: none;
    background-color: $black;
  }
  &:hover img {
    filter: invert(1);
  }
  &:hover:after {
    outline: 2px solid $white;
    top: 1.5rem;
    right: 1.1rem;
  }
}
